<header>
  <div class="header-menus">
    <nav class="nav-right">
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
      <% end %>
    </nav>
  </div>
</header>
