<div class="home">
    <h1>Chat App</h1>
    <div class="wrap">
        <div class="content">
            <p class="item"><i class="content fas fa-sign-in-alt"></i></p>
            <p class="item">ログイン</p>
        </div>
        <div class="content">
            <p class="item"><i class="content fas fa-user-plus"></i></p>
            <p class="item">サインアップ</p>
        </div>
    </div>
</div>