.sign_up {
    display: block;
    width: 205px;
    height: 100px;
    margin: 65px auto 0;
    
    h2 {
        margin: 20px 0 30px;
        font-size: 20px;
    }
    
    .wrapper {
        margin-top: 62px;
        width: 273px;
        margin-left: auto;
        margin-right: auto;

    }

    input {
        margin-top: 7px;
    }
    .field {
        margin-top: 10px;
    }

    .actions {
        margin: 10px 0 10px;
    }

    a {
        color: #47B5FF;
        line-height: 1.5;
    }
}