body {
    background-color: #06283D;
    color: #47B5FF;
}

input[type="text"] {
    margin-top: 6px;
    background:#dae0e0;
    height: 19px;
    font-weight: bold;
}

input[type="password"] {
    margin-top: 6px;
    background: #dae0e0;
    height: 19px;
    font-weight: bold;
}